.row {
    display: flex;
    justify-content: center;
  }  
  h1 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: #757575;
  }
  
  #coindesk {
    font-weight: 300;
  }
  
  #coindesk a {
    text-decoration: none;
    color: inherit;
  }
  
  .popup {
    min-height: 50px;
  }
  .about{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 72px;
    border-radius: 4px;
    margin: 0px -12px;
    box-sizing: border-box;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    line-height: 1.15;
    text-size-adjust: 100%;
    border-color: gray;
  }
  .about-head{
    display: flex;
    flex-direction: column;
    max-width: 273.5px;
    width: 25%;
    padding-left: 7px;
    margin: 14px 0px;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    line-height: 1.15;
    text-size-adjust: 100%;
  }
  .about-head-data{
    margin-bottom: 6px;
    box-sizing: border-box;
    display: block;
  }
  .symbol-space{
    white-space: nowrap;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    color: rgba(17, 51, 83, 0.6);
  }
  .about-head-label{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    color: rgba(17, 51, 83, 0.6);
    transition: color 80ms ease-in-out 0s;
    display: block;
    cursor: default;
  }
  .tooltip{    
    display: inline-block;
  }
  
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .about-subhead{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.3;
    color: rgb(5, 15, 25);
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin: 0px;   
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 700px;
    word-wrap: break-word;
    white-space:pre-wrap;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .style-container{
    margin-bottom: 0px;
    flex: 1 1 auto;
    padding: 32px;
    background: rgb(255, 255, 255);    
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    border: 1px solid;
    border-radius:5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #d3cdcd;    
  }
  .style-description{
    margin-bottom: 2px;

  }
  .text-element{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.3;
    color: rgb(5, 15, 25);
    font-size: 22px;
    font-weight: 500;
    display: block;   
    text-align: left;
    padding-top: 10px;
  }
  .style-description-text{
    margin-top: 2px;

  }
  .text-para{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: rgba(17, 51, 83, 0.6);
    display: block;    
    text-align: left;
  }